@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    margin: 0;
    font-family: "Roboto", serif;
    background-color: #1C1C1C;
    color: #FFFFFF
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

p {
    margin: 0;
}

p + p {
    margin-top: 15px;;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    margin: 0;
}

img {
    max-width: 100%;
}

.container {
    box-sizing: border-box;

    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;

}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;

    border-radius: 5px;
    width: 165px;
    height: 50px;
    background: #f6762c;

    transition: opacity 0.3s;
}

.btn:hover {
    opacity: 0.8;
}

.btn--small {
    width: 140px;
    height: 40px;
    font-size: 12px;
}

/* !Header */
.header {
    padding: 25px 0px;
    position: relative;
    z-index: 10;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    gap: 30px;
}

.header__nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.header__nav a.active {
    opacity: 1;
}

.header__nav a:hover {
    opacity: 0.9;
}


/* !Welcome */
.welcome {
    box-sizing: border-box;
    min-height: 100vh;

    margin-top: -100px;
    padding: 240px 0;

    background-image: url("./images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.welcome__text  {
    width: 550px;

}

.welcome__subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.welcome__title {
    font-size: 58px;
}

.welcome__desc {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}

/* !Food list */
.food-list {
    padding: 100px 0;
}

.food-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px 10px;
}

.food-list__card {
    width: 260px;
    overflow: hidden;
    text-align: center;

    border-radius: 10px;
    background: #312f30;
}

.food-list__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    margin-bottom: 20px;
}

.food-list__text-wrapper {
    padding: 30px 20px;
}

.food-list__title {
    margin-bottom: 15px;
    font-size: 20px;
}

.ffod-list__disc {
    font-size: 16px;
    opacity: 0.7;
}

/* !Order */
.order {
    background-color: #312F30;
    padding: 60px 0;
}

.order .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-right: 90px;
}

.order__img {
    max-width: 470px;
}

.order__text {
    max-width: 360px;
}

.order__title {
    font-size: 44px;
    margin-bottom: 25px;
}

.oreder__desc {
    opacity: 0.7;
    margin-bottom: 15px;
}

.order__price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;
    font-size: 20px;
}

.order__price--old {
    font-size: 16px;
    text-decoration: line-through;
    opacity: 0.5;
}

.order__price + .order__price {
    margin-left: 3px;
}
.order .btn {
    margin-top: 10px;
}

.product {
    padding: 150px 0;
}

.product .container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

/* !Product */
.product__card {
    box-sizing: border-box;

    width: 555px;
    min-height: 300px;

    padding: 60px 30px 60px 290px;
    background-color: #4e4c4c;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.product__card:nth-child(even) {
    padding-left: 30px;
    padding-right: 290px;
}

.product__title {
    margin-bottom: 20px;
    font-size: 30px;
}

.product__desc {
    margin-bottom: 10px;
    opacity: 0.7;
}

.product__price {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #f6762c;
}
.product__price + .product__price {
    margin-left: 5px;
}

.product__price--old {
    text-decoration: line-through;
    opacity: 0.5;
}

.product .btn {
    margin-top: 10px;
}

.card-queen {
    background-image: url(./images/product-1.jpg);
}

.card-hut {
    background-image: url(./images/product-2.jpg);
}

.card-king {
    background-image: url(./images/product-3.jpg);
}

.card-papa {
    background-image: url(./images/product-4.jpg);
}

/* !Feedback*/
.feedback {
    padding-bottom: 200px;
}

.feedback .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 880px;
}

.feedback__text {
    margin: 0;
    text-align: center;
    max-width: 370px;
}

.feedback__text::before {
    content: url(./images/icons/quote.svg);
}

.feedback__desc {
    opacity: 0.7;
    margin: 30px 0;
}

.feedback__author {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.feedback__subauthor {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.7;

    display: block;
}

/* !Download*/
.download {
    background: #312f30;
    padding: 60px 0;
}

.download .container {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.download__title {
    font-weight: 500;
    font-size: 40px;
}

.btn {
    border-radius: 5px;
    width: 165px;
    height: 49px;
    background: #f6762c;
}

/* !Footer*/
.footer {
    padding: 120px 0;
}
.footer a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.3s;
}

.footer a:hover {
    color: rgba(255, 255, 255, 0.9);
}

.footer .footer__title {
    display: inline-block;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
}

.footer .container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
width: 70px;
margin-bottom: 20px;
}

.footer__link{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer__link + .footer__link {
    margin-top: 10px;
}

.footer__link::before {
    content: url(./images/icons/global.svg);
    height: 12px;
}

.footer__link-mail::before {
    content: url(./images/icons/mail.svg);
}

.footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.footer__list-item + .footer__list-item {
    margin-top: 15px;
}

.footer__socials-link + .footer__socials-link {
    margin-left: 7px;
}

/* !Media */
@media (max-width: 1100px) {
    .welcome__desc {
        opacity: 1;
    }
}

@media (max-width: 950px) {
    .order .container {
        flex-direction: column;
        text-align: center;
        padding-right: 15px;
    }
    .order .btn {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 850px) {
    .welcome {
        position: relative;
    }
    .welcome .container {
        position: relative;
        z-index: 10;
    }
    .welcome::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
    }
    .footer .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "nav nav" "contacts socials";
        justify-items: center;
        gap: 40px 150px;
    }
    .footer__contacts {
        grid-area: contacts;
        justify-self: end;
    }
    .footer__nav {
        grid-area: nav;
    }
    .footer__socials {
        grid-area: socials;
        align-self: center;
        justify-self: start;
    }
    .food-list .container {
        justify-content: space-evenly;
    }
    .footer__logo {
        margin-left: auto;
        margin-right: auto;
    }
    .footer__list {
        gap: 80px;
    }
    .feedback {
        padding-bottom: 100px;
    }
    .footer {
        padding: 60px 0;
    }
}

@media (max-width: 650px) {
    .header .btn {
        display: none;
    }
    .feedback__img {
        width: 200px;
        margin-bottom: 20px;
    }
    .download__title {
        font-size: 30px;
    }
    .welcome__text {
        width: 100%;
    }
    .welcome__title {
        font-size: 40px;
    }
    .welcome__desc {
        margin: 20px 0;
    }
    .welcome {
        padding: 150px 0 100px 0;
        min-height: auto;
    }
    .product {
        padding: 60px 0 100px;
    }
    .product__card {
        width: 100%;
        padding-left: 50%;
    }
    .product__card:nth-child(even) {
        padding-right: 50%;
    }
}

@media (max-width: 500px) {
    .header .container {
        flex-direction: column;
        gap: 10px;
    }
    .header__list {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .welcome {
        margin-top: -240px;
        padding-top: 280px;
        padding-bottom: 80px;
    }
    .welcome__desc {
        font-size: 12px;
    }
    .welcome__title {
        font-size: 24px;
    }
    .food-list {
        padding: 60px 0;
        margin-bottom: 10px;
    }
    .order__title {
        font-size: 24px;
    }
    .order__img {
        width: 100%;
    }
    .feedback .container {
        flex-direction: column;
    }
    .download .container {
        flex-direction: column;
        gap: 20px;
    }
    .feedback, .product {
        padding-bottom: 60px;
    }
    .feedback__desc {
        margin: 20px 0;
        font-size: 14px;
    }
    .footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__contacts {
        align-items: center;
    }
    .footer__socials-icons {
        display: flex;
        justify-content: center;
    }
    .footer__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .footer .footer__title {
        margin-bottom: 10px;
    }
    .footer__list-item + .footer__list-item {
        margin-top: 7px;
    }
    .footer__logo {
        margin-bottom: 10px;
    }
    .download__title {
        font-size: 24px;
    }
    .feedback__author {
        font-size: 18px;
    }
    .product__card {
        padding-left: 30px;
        position: relative;
    }
    .product__card:nth-child(even) {
        padding-right: 30px;
    }
    .product__desc {
        opacity: 1;
    }
    .product {
        text-align: center;
    }
    .product .btn {
        margin-right: auto;
        margin-left: auto;
    }
    .btn--small {
        font-size: 14px;
    }
    .product__card > * {
        position: relative;
        z-index: 10;
    }
    .product__card::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
    }
}